.btn-brown {
    background-color: #886653;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-brown:hover {
    background-color: #633B25;
}

.btn-brown-outline {
    background-color: #FFFFFB;
    color: #886653;
    border: solid 1px #886653;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-brown-outline:hover {
    background-color: #886653;
    color: white;
}

.btn-blue {
    background-color: #6777EF;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-blue:hover {
    background-color: #3047f4;
}
.btn-blue-outline {
    background-color: white;
    color: #6777EF;
    border: solid 1px #6777EF;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-blue-outline:hover {
    background-color: #6777EF;
    color: white;
}

.btn-red {
    background-color: #FC544B;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background-color: #EA472F;
}
.btn-pink {
    background-color: #F3725F;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-pink:hover {
    background-color: #EA472F;
}

.btn-pink-outline {
    background-color: white;
    color: #F3725F;
    border: solid 1px #F3725F;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-pink-outline:hover {
    background-color: #F3725F;
    color: white;
}

.btn-yellow {
    background-color: #FFB11B;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-yellow:hover {
    background-color: #c38108;
}

.btn-yellow-outline {
    background-color: white;
    color: #FFB11B;
    border: solid 2px #FFB11B;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-yellow-outline:hover {
    background-color: #FFB11B;
    color: white;
}

.btn-yellow-black {
    font-size: 14px;
    padding: 6px 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border: none;
    background-color: #FFB11B;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-yellow-black:hover {
    background-color: #000;
    border-color: #000;
}

.btn-blue-black {
    font-size: 14px;
    padding: 6px 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border: none;
    background-color: #5492FF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-blue-black:hover {
    background-color: #000;
    border-color: #000;
}
.btn-red-black {
    font-size: 14px;
    padding: 6px 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border: none;
    background-color: #FC544B;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-red-black:hover {
    background-color: #000;
    border-color: #000;
}

.btn-yellow-black {
    font-size: 14px;
    padding: 6px 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border: none;
    background-color: #FFB11B;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-yellow-black:hover {
    background-color: #000;
    border-color: #000;
}

.paypal_btn {
    height: 3.5rem;
    background-size: 100% 170%;
    background-position: center;
    color: white;
    border: 2px solid rgb(3, 30, 182);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.paypal_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.cart_count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFB11B;
    color: white;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    top: -12px;
    right: -12px;
}

.header-cart {
    color: black;
    transition: color 0.3s ease;
}

.header-cart:hover {
    color: #ff951b;
}
