/* Sidebar Styles */
#sidebar {
    width: 9rem;
    height: 100%;
    background-color: #ffd482;
    transition: all 0.3s ease;
    
}

.sidebar-nav {
    list-style: none;
    text-align: left;
    padding: 0;
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

a.sidebar-link:hover {
    background-color: #ffb11b;
    border-left: 3px solid #ff6715;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    margin-top: 12px;
    position: absolute;
    left: 15px;
    z-index: 1100;
    cursor: pointer;
    font-size: 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 6px 12px;
    transition: all 0.4s ease;
}

.hamburger-menu:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 181, 44, 0.805);
}

.hamburger-menu i {
    font-size: 1.5rem;
}

.no-scroll {
    overflow: hidden;
  }

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
    #search_bar {
        display: none;
    }

    #search_sidebar {
        display: block;
    }

    #sidebar {
        width: 100%;
        max-width: 100%;
        position: absolute;
        height: 100Vh;
        z-index: 999;
        left: -100%;
    }

    #sidebar.show {
        left: 0;
    }

    .sidebar-nav {
        margin-top: 4rem;
        padding: 0;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    #search_sidebar {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }
}


@media (max-width: 1090px) {
    a.sidebar-link {
        font-size: 1.15rem;
    }
}

